.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;



  &__wrapper{
    display: flex;
    align-items: center;

    @include respond(big-screen) {
      display: none;
    }

  }

  &__link{}

  &__menu{
    display: flex;
    justify-content: flex-end;

    @include respond(big-screen) {
      position: absolute;
      right: 20px;
      top: 24px;
    }

    @include respond(tab-land) {
      gap: 15px;
    }
  }
}


.burger {
  margin-right: 40px;

  @include respond(phone) {
    margin-right: 16px;
  }
}
.logo {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 32px;
    width: 2px;
    background-color: #EAEAEA;
    border-radius: 5px;

    @include respond(phone) {
      display: none;
    }
}
}


.repair {
  margin-left: 40px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -28px;
    top: 5px;
    height: 32px;
    width: 2px;
    background-color: #EAEAEA;
    border-radius: 5px;
    @include respond(big-screen) {
      display: none;
    }
  }
}
.link_text {
  display: flex;
  align-items: center;
  color: $color-black;
  gap: 0 10px;
  margin: 10px 16px 0px;

  @include respond(tab-land) {
    margin: 0;  
    span {
      display: none;
    }
    

  }
  
}
.checkstatus {
}
.call {
  @include respond(big-screen) {
    display: none;
  }
  @include respond(phone) {
    display: none;
  }

}
.chat {
  @include respond(big-screen) {
    display: none;
  }
  @include respond(phone) {
    display: none;
  }

}
.profile {
  @include respond(big-screen) {
    display: none;
  }
  @include respond(phone) {
    display: none;
  }

}