@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: TTLakes-regular;
  src:  url('./../fonts/TTLakes-Regular.ttf'),
        url('./../fonts/TTLakes-Regular.eot'),
        url('./../fonts/TTLakes-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: TTLakes-bold;
  src:  url('./../fonts/TTLakes-Bold.ttf'),
        url('./../fonts/TTLakes-Bold.eot'),
        url('./../fonts/TTLakes-Bold.woff');
  font-style: normal;
}

@font-face {
  font-family: TTLakes-medium;
  src:  url('./../fonts/TTLakes-Medium.ttf'),
        url('./../fonts/TTLakes-Medium.eot'),
        url('./../fonts/TTLakes-Medium.woff');
  font-style: normal;
  font-weight: normal;
}


body {
  font-family: TTLakes-medium;
  color: $color-black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.paragraph {
  color: $color-black;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.article {
  margin-top: 0.8125rem;

  @include respond(tab-land) {
    margin-top: 10px;
  }
  @include respond(phone) {
    margin: 16px 0;
  }
}

.h1-title {
  font-family: TTlakes-bold;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: $color-black;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -32px;
    background-color: $color-green-active;
    width: 4px;
    height: 32px;
    border-radius: 0 5px 5px 0;
    
    @include respond(tab-land) {
      left: -24px;
    }

    @include respond(phone) {
      left: -16px;
    }
  }
}

.h2-title {
  font-family: TTLakes-regular;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: $color-gray;
  padding: 16px 0 16px 32px;
  margin: 0 0 24px;

  @include respond(tab-land) {
    background-color: $color-white;
    padding-left: 24px;
  }

  @include respond(phone) {
    margin: 24px 0 14px;
  }
}

.h3-title {
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: $color-black;
  margin-bottom: 24px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -20px;
    background-color: $color-green-active;
    width: 3px;
    height: 32px;
    border-radius: 0 5px 5px 0;
    
    @include respond(tab-land) {
      left: -20px;
    }
    
  }
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $color-cerise;
  
  span {
    transform: translate(130%, 50%) rotate(35deg);
    position: relative;
    background-color: $color-cerise;
    width: 10px;
    height: 2px;
    display: inline-block;
    border-radius: 2px;
    &::before {
      content: '';
      position: absolute;
      transform: rotate(-72deg);
      top: 4px;
      right: -3px;
      background-color: $color-cerise;
      width: 10px;
      height: 2px;
    }
  }
}

button {
  font-family: Comic, sans-serif;
  color: $color-white;
  padding: 8px 10px;
  width: 120px;
  background-color: #FF3E79;
  border: none;
  border-radius: 40px;
  display: flex;
}

input {
  font-family: Comic, sans-serif;
  font-size: 1rem;
  color: $color-gray-light;
  padding: 12px 0 12px 16px;
  padding: 12px 0 12px 16px;
  border: 1px solid $color-border-input;
  border-radius: 10px;
}

.icon-white {
  
  span {
    transform: translate(130%, -150%) rotate(32deg);
    position: relative;
    background-color: $color-white;
    width: 10px;
    height: 3px;
    display: inline-block;
    border-radius: 2px;
    &::before {
      content: '';
      position: absolute;
      transform: rotate(-72deg);
      top: 4px;
      right: -3px;
      background-color: $color-white;
      border-radius: 2px;
      width: 10px;
      height: 3px;
    }
  }
}

.icon-pink {
  display: inline-block;
  
  span {
    transform: translate(130%, -150%) rotate(32deg);
    position: relative;
    background-color: $color-cerise;
    width: 10px;
    height: 3px;
    display: inline-block;
    border-radius: 2px;
    &::before {
      content: '';
      position: absolute;
      transform: rotate(-72deg);
      top: 4px;
      right: -3px;
      background-color: $color-cerise;
      border-radius: 2px;
      width: 10px;
      height: 3px;
    }
  }
}

.btn__show-hide {
  padding-left: 32px;


  @include respond(tab-port) {
    padding-left: 24px;
  }

  @include respond(phone) {
    display: none;
  }
}