
$background-color: #F8F8F8;


$color-white:  #FFFFFF;
$color-cerise: #FF3E79;
$color-green:  #B8FFEC;
$color-green-active: #41F6D7;

$color-border-input: #EAEAEA;
$color-gray:  #7E7E82;
$color-black: #1B1C21;
$color-gray-light: #B5B6BC;
$color-border-blocks: #EAEAEA;


$box-shadow-right: 16px 0 52px #0E185033, -2px 0 4px #454F7E05;
$box-shadow-left: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);