.service {
  padding: 0 32px;

  @include respond(tab-land) {
    padding: 24px;
  }

  @include respond(phone) {
    padding: 24px 16px;
  }

  &__scroll{
    overflow-x: scroll;
    white-space: nowrap;
  }

  &__list{
    margin: 17px 0;
    display: flex;
    align-items: center;
    gap: 10px;

    @include respond(tab-land) {
      margin: 32px 0;
    }

    @include respond(phone) {
      margin: 24px 0;
    }
  }

  &__link {  
    padding: 7px 20px;
    transition: background-color .3s ease;
    border: 2px solid $background-color;
    border-radius: 5px;
    

    a {
      color: $color-gray;
    }

    &:hover,
    &:active{
      background-color: $color-white;
      border: 2px solid $color-green;

    }
    
  }

  &__description{
    display: flex;
    gap: 36px;
    @include respond(phone) {
      display: block;
    }
  }

  &__text{
    max-width: 42%;

    @include respond(tab-land) {
      max-width: 60%;
    }
    @include respond(tab-port) {
      max-width: 75%;
    }
    @include respond(phone) {
      max-width: 90%;
    }
  }



  &__img {
    max-width: 530px;
    height: auto;
    @include respond(tab-port) {
      max-width: 360px;
      height: 250px;
      }
    @include respond(phone) {
      max-width: 100%;
      height: 230px;
      }
    
    }
    

}

